* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
    color: #000;
  }
  body {
      font-family: Arial, sans-serif;
      width: 100vw;
      height: 100vh;
      margin: auto;
    }
    
.wrap {
    width: 100%;
    height: 100%;
    background-color: white;
}
.title {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(148, 238, 148)
}
.date {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(6, 168, 6)
}
.date > p {
    font-weight: 600;
    color: #ffff;
    font-size: 13px;
}
.user_info {
    background-color: #eee;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user_info > p > .bold {
    font-weight: 600;
}
.content {
    width: 100%;
    height: calc(100% - (200px));
}
.checking_class {
    width: 100%;
    height: 50px;
    background-color: #ffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 10px;   
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.checking_class > .btn {
    background-color: #ffff;
    color: #aaa;
    font-weight: 400;
    text-align: center;
    line-height: 30px;
    box-shadow: 1px 1px 5px 1px #aaa;
    width: 25%;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
}
.checking_class > .btn:hover {
    background-color: #0f0f0f;
    color: #fff;
}
.check_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: calc(100% - 50px);
    /* outline: 1px solid black; */
}
.list_total {
    border: 1px solid rgb(143, 143, 222);
    box-shadow: 1px 1px 5px 2px #ccc;
    background-color: #fff;
    border-radius: 10px;
    width: 90%;
    height: 90%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.list_total > p {
    text-align: left;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}
.check_lists {
    /* background-color: blue; */
    width: 100%;
    height: 100%;
    padding-left: 20px;
    overflow: scroll;
}
.data_list > ul {
    margin-bottom: 10px;
}
li {
    list-style-type: none;
    width: 95%;
    height: 35px;
    padding-left: 10px;
    /* line-height: 30px; */
    border: 1px solid black;
    border-bottom: none;
}
.bottom_li {
    border-bottom: 1px solid black;
}
.data_titles {
    list-style-type: circle;
    border: none;
    height: 25px;
    /* margin-bottom: 5px; */
}
.data_list > ul > li > label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.data_list > ul > li > label > p {
    /* margin-right: 10px; */
    width: 80px;
}
.data_list > ul > li > label > span {
    margin-right: 10px;
}
.data_list > ul > li > label > input {
    border: none;
    width: 60%;
    height: 100%;
    font-size: 16px;
}
.data_list > ul > li > label > form {
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    /* outline: 1px solid red; */
}
.data_list > ul > li > label > form > input {
    border: none;
    width: 60%;
    height: 100%;
    font-size: 16px;
    /* outline: 1px solid black; */
}
.data_list > ul > li > label > form > .submits {
    background-color: transparent;
    width: 30%;
    height: 80%;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 20%;
}
.footer {
    /* outline: 1px solid black; */
    background-color: #eee;
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.footer > p {
    /* outline: 1px solid black; */
    font-size: 12px;
    text-align: center;
    width: 100%;
}
.nav {
    /* outline: 1px solid black; */
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
.nav > .nav_btn {
    width: 34%;
    height: 100%;
    background-color: #fff;
    color: black;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 300%;
}